<div class="pt-3 {{#equal options.app_name_d 0}}d-none{{/equal}} block-app-logo {{#equal sidebar_d 0}}block-app-logo-full-screen{{else}}block-app-logo-n-full-screen{{/equal}}">
    <span class="col-12 text-white text-center display-4 app-logo">WebCollege</span>
</div>