<header class="col-12 h-25vh px-0 m-0">
    <!--Панель навигации-->
    <nav>
        <!--Навигационная панель куратора-->
        {{#equal role 'courator'}}
        <ul>
            <li><a href="">Главная</a></li>
            <li><a href="">Моя группа</a></li>
            <li><a href="">Главная</a></li>
            <li><a href="">Главная</a></li>
            <li><a href="">Главная</a></li>
            <li><a href="">Главная</a></li>
        </ul>
        {{/equal}}
        <!--Навигационная панель тьютора-->
        {{#equal role 'tutor'}}
        <ul>
            <li><a href="">aaa</a></li>
        </ul>
        {{/equal}}
        <!--Навигационная панель студента-->
        {{#equal role 'student'}}
        <ul>
            <li><a href="">www</a></li>
        </ul>
        {{/equal}}
        
    </nav>
</header>