<header class="col-12 row justify-content-center align-items-end h-20vh px-0 m-0">
    <!--Панель навигации-->
    <nav class="col-12" id="navbar">
        <ul>
            <!--Навигационная панель куратора-->
            {{#equal role 'courator'}}
                <li><a href="" class="col-12">Главная</a></li>
                <li><a href="" class="col-12">Лента</a></li>
                <li><a href="" class="col-12">Моя группа</a></li>
                <li><a href="" class="col-12">Мероприятия</a></li>
                <li><a href="" class="col-12">Индивидуальная работа</a></li>
                <li><a href="" class="col-12">Галерея</a></li>
                <li><a href="" class="col-12">Посещаемость</a></li>
            {{/equal}}
            <!--Навигационная панель тьютора-->
            {{#equal role 'tutor'}}
                <li><a href="">aaa</a></li>
            {{/equal}}
            <!--Навигационная панель студента-->
            {{#equal role 'student'}}
                <li><a href="">www</a></li>
            {{/equal}}
        </ul>    
    </nav>
</header>