<header class="p-0 m-0 row justify-content-center {{#equal sidebar_d 0}}header-full-screen{{else}}header-n-full-screen{{/equal}} align-items-end" id="header">
    <!--Панель навигации-->
    <nav class="col-12 justify-content-center" id="navbar">
        <ul>
            <li><a href="/" class="col-12">Главная</a></li>
            <!--Навигационная панель куратора-->
            {{#equal role 'teacher'}}
                <li><a href="/t/announcements" class="col-12">Объявления</a></li>
                <li><a href="/t/mygroup" class="col-12">Моя группа</a></li>
                <li><a href="/t/mygroup/events" class="col-12">Мероприятия</a></li>
                <li><a href="/t/mygroup/individualwork" class="col-12">Индивидуальная работа</a></li>
                <li><a href="/t/mygroup/attendance" class="col-12">Посещаемость</a></li>
                <li><a href="/t/mygroup/reports" class="col-12">Отчёты</a></li>
                <li><a href="/t/mygroup/gallery" class="col-12">Галерея</a></li>
            {{/equal}}
            <!--Навигационная панель зав. отделением-->
            {{#equal role 'head'}}
                <li><a href="/h/groups">Список групп</a></li>
            {{/equal}}
            <!--Навигационная панель студента-->
            {{#equal role 'student'}}
                <li><a href="">aaa</a></li>
            {{/equal}}
            <!--Навигационная панель администратора-->
            {{#equal role 'admin'}}
                <li><a href="">ffff</a></li>
            {{/equal}}
        </ul>    
    </nav>
</header>