<header class="col-12 p-0 m-0 d-flex row justify-content-center align-items-end">
    <div class="col-12 row align-self-start pt-3 block-text-logo">
        <h1 class="col-12 text-white text-center display-4 text-logo">WebCollege</h1>
    </div>
    <!--Панель навигации-->
    <nav class="col-12" id="navbar">
        <ul>
            <!--Навигационная панель куратора-->
            {{#equal role 'courator'}}
                <li><a href="/mainpage" class="col-12">Главная</a></li>
                <li><a href="/feed" class="col-12">Лента</a></li>
                <li><a href="/mygroup" class="col-12">Моя группа</a></li>
                <li><a href="/mygroupevents" class="col-12">Мероприятия</a></li>
                <li><a href="/mygroupindividualwork" class="col-12">Индивидуальная работа</a></li>
                <li><a href="/attendance" class="col-12">Посещаемость</a></li>
                <li><a href="/mygroupgallery" class="col-12">Галерея</a></li>
            {{/equal}}
            <!--Навигационная панель тьютора-->
            {{#equal role 'tutor'}}
                <li><a href="">aaa</a></li>
            {{/equal}}
            <!--Навигационная панель студента-->
            {{#equal role 'student'}}
                <li><a href="">www</a></li>
            {{/equal}}
        </ul>    
    </nav>
</header>