<header class="col-12 p-0 m-0 d-flex row justify-content-center align-items-end">
    <div class="col-12 row align-self-start pt-3 block-text-logo">
        <p class="col-12 text-white text-center display-4 text-logo">WebCollege</p>
    </div>
    <!--Панель навигации-->
    <nav class="col-12" id="navbar">
        <ul>
            <!--Навигационная панель куратора-->
            {{#equal role 'courator'}}
                <li><a href="/" class="col-12">Главная</a></li>
                <li><a href="/c/announcements" class="col-12">Объявления</a></li>
                <li><a href="/c/mygroup" class="col-12">Моя группа</a></li>
                <li><a href="/c/mygroup/events" class="col-12">Мероприятия</a></li>
                <li><a href="/c/mygroup/individualwork" class="col-12">Индивидуальная работа</a></li>
                <li><a href="/c/mygroup/attendance" class="col-12">Посещаемость</a></li>
                <li><a href="/c/mygroup/gallery" class="col-12">Галерея</a></li>
            {{/equal}}
            <!--Навигационная панель тьютора-->
            {{#equal role 'tutor'}}
                <li><a href="">aaa</a></li>
            {{/equal}}
            <!--Навигационная панель студента-->
            {{#equal role 'student'}}
                <li><a href="">www</a></li>
            {{/equal}}
        </ul>    
    </nav>
</header>