<div id="sidebar">
    <div class="h-100 row justify-content-center col-12 fixed-top m-0 p-0 pt-3" id="sidebar_menu">
        <div class="col-12 row justify-content-center h-35vh py-3 sidebar-user-block">
            <img src="https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg" alt="profile_avatar" class="avatar_img">
            <p class="row text-center text-white user-text-name">{{username}}</p>
        </div>
        <div class="col-12 row justify-content-center px-0 pt-2 h-30vh m-0">
            <button class="col-12 btn px-0" onclick="window.location.href='/mainpage'">Главная</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/profile'">Мой профиль</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/options'">Настройки</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/logout'">Выход</button>
        </div>
        <div class="col-12 row justify-content-center align-items-end">
            <img src="./img/icons/logo.png" alt="logo" class="logo">
        </div>
    </div>                
</div>
<div class="close-button">
    <img src="" alt="closer">
</div>