<div id="side-form">
    <div class="w-100 mx-0 row justify-content-center align-content-start align-items-start">
        <div class="w-100 mx-0 h-75 row justify-content-center pt-3">
            <div class="w-100 mb-3">
                <button class="close-sideform btn" disabled>&gt;&gt;&gt;</button>
            </div>
            <div class="w-100">
                {{#equal form 't-announce'}}
                    <div class="px-3">
                        <h3 class="text-center">Создать объявление</h3>
                    </div>
                    <form class="row w-100 justify-content-center h-100 align-items-center align-content-center mx-0 px-3" id="t-anouncement-form">
                        <div class="w-100 row justify-content-center">
                            <input type="text" id="t-anouncement-form-head" class="form-control m-1" placeholder="Заголовок...">
                            <select type="text" id="t-anouncement-form-type" class="form-control m-1" placeholder="Тема">
                                <option value="" hidden>Тема...</option>
                            {{#each ../announcement_type}}
                                <option value="{{announcement_type_id}}">{{announcement_type_name}}</option>
                            {{/each}}
                            </select>
                            <input type="file" id="t-anouncement-form-file" class="form-control-file m-1 text-light" accept=".rar,.zip,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.png,.jpg,.jpeg" >
                        </div>
                        <div class="w-100 row align-content-center justify-content-center">
                            <textarea class="w-100" id="t-anouncement-form-text"></textarea>
                            <button class="w-100 t-announcement-form-button btn" id="t-anouncement-form-sumbit">+</button>
                        </div>
                    </form>
                {{/equal}}
                {{#equal form 't-achievements'}}
                    <div class="px-3 mb-n2">
                        <h3 class="text-center">Добавить</h3>
                    </div>
                    <form class="row w-100 justify-content-center h-100 align-items-center align-content-center mx-0 px-3" id="t-achievements-form">
                        <div class="w-100 row justify-content-center align-content-center align-items-center" id="t-achievements-form-img-block">
                            <img id="t-achievements-form-img"></img>
                        </div>
                        <div class="w-100">
                            <input type="text" class="form-control" placeholder="Название..." id="t-achievements-form-name">
                        </div>
                        <div class="w-100">
                            <input type="file" class="form-control-file" id="t-achievements-form-file" onchange="document.getElementById('t-achievements-form-img').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <div class="w-100">
                            <button class="btn w-100 t-achievements-form-button">+</button>
                        </div>
                    </form>
                {{/equal}}
                {{#equal form 't-events'}}
                    <div class="px-3">
                        <h3 class="text-center">Запланировать мероприятие</h3>
                    </div>
                    <form class="row w-100 justify-content-center h-100 align-items-center align-content-center mx-0 px-3" id="t-event-form">
                        <div class="w-100 row justify-content-center">
                        
                        </div>
                        <div class="w-100 row align-content-center justify-content-center">
                            
                        </div>
                    </form>
                {{/equal}}
                {{#equal form 't-gallery'}}
                    <div class="px-3 mb-n2">
                        <h3 class="text-center">Загрузить</h3>
                    </div>
                    <form class="row w-100 justify-content-center align-items-start align-content-start mx-0 px-3" id="t-gallery-form">
                        <div class="w-100">
                            <input type="file" class="form-control-file" id="t-gallery-form-file" multiple accept=".png,.jpg">
                        </div>
                        <div class="w-100">
                            <button class="btn w-100" id="t-gallery-form-button">+</button>
                        </div>
                    </form>
                {{/equal}}
            </div>
        </div>
    </div>
</div>