<div class="{{#equal sidebar_d 0}}sidebar-full-screen{{else}}sidebar-d-block{{/equal}}" id="sidebar">
    <div class="row justify-content-center col-12 m-0 p-0 pt-3" id="sidebar_menu">
        <div class="col-12 row justify-content-center align-content-center py-3 sidebar-user-block">
            <img src="{{#base64 (imgnotnull user_photo.[0] user_photo.[1])}}{{/base64}}" alt="profile_avatar" class="avatar_img p-2">
            <a href="/profile" class="text-center text-white user-text-name pt-2">{{username}}</a>
        </div>
        <div class="col-12 row justify-content-center align-content-start px-0 m-0 pt-2" id="sidebar_buttons">
            <button class="col-12 btn px-0" onclick="window.location.href='/'">Главная</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/profile'">Мой профиль</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/options'">Настройки</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/logout'">Выход</button>
        </div>
        <div class="col-12 row justify-content-center align-content-center" id="sidebar_logo">
            <img src="{{#base64 "/img/icons/logo.png"}}{{/base64}}" alt="logo" class="logo">
        </div>
    </div>                
</div>

<div class="sidebar-close-button {{#equal sidebar_d 0}}sidebar-close-button-full-screen sidebar-open-action{{else}}sidebar-close-action sidebar-close-button-n-full-screen{{/equal}}">
    <label for="sidebar-close-button">{{#equal sidebar_d 1}}&lt;&lt;&lt;{{else}}&gt;&gt;&gt;{{/equal}}</label>
</div>


