<div id="sidebar">
    <div class="row justify-content-center col-12 m-0 p-0 pt-3" id="sidebar_menu">
        <div class="col-12 row justify-content-center align-content-center py-3 sidebar-user-block">
            <img src="https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg" alt="profile_avatar" class="avatar_img pb-2">
            <a href="/profile" class="text-center text-white user-text-name pt-2">{{username}}</a>
        </div>
        <div class="col-12 row justify-content-center align-content-start px-0 m-0 pt-2" id="sidebar_buttons">
            <button class="col-12 btn px-0" onclick="window.location.href='/'">Главная</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/profile'">Мой профиль</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/options'">Настройки</button>
            <button class="col-12 btn px-0" onclick="window.location.href='/logout'">Выход</button>
        </div>
        <div class="col-12 row justify-content-center align-content-center" id="sidebar_logo">
            <img src="/img/icons/logo.png" alt="logo" class="logo">
        </div>
    </div>                
</div>

<!--<div class="close-button">
    <img src="" alt="closer">
</div>-->