<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Главная страница интерфейса куратора группы."/>
    <title>Главная страница</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-start align-content-start row m-0 p-0 app-window mainpage">
                        <div class="col-12 h-of h-auto">
                            <h1 class="col-12 text-right">Главная страница</h1>
                        </div>
                        <div class="col-12 row justify-content-center align-items-start align-content-center t-mainpage-links">
                            <div class="row align-items-center col-xl-3 col-10 my-4 mx-3 stylise-block" id="t-mg-link">
                                <div class="col-12">
                                    <h2 class="text-center">Моя группа</h2>
                                </div>
                            </div>
                            <div class="row align-items-center col-xl-3 col-10 my-4 mx-3 stylise-block" id="t-l-link">
                                <div class="col-12">
                                    <h2 class="text-center">Создать объявление</h2>
                                </div>
                            </div>
                            <div class="row align-items-center col-xl-3 col-10 my-4 mx-3 stylise-block" id="t-al-link">
                                <div class="col-12">
                                    <h2 class="text-center">Составить список отсутствующих</h2>
                                </div>
                            </div>
                            <div class="row align-items-center col-xl-3 col-10 my-4 mx-3 stylise-block" id="t-ep-link">
                                <div class="col-12">
                                    <h2 class="text-center">Запланировать мероприятие</h2>
                                </div>
                            </div>
                            <div class="row align-items-center col-xl-3 col-10 my-4 mx-3 stylise-block" id="t-r-link">
                                <div class="col-12">
                                    <h2 class="text-center">Составить отчёт</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>