<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kostin Vladislav">
    <meta name="description" content="Страница, содеражащая галерею веб-приложения.">
    <title>Галерея</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-start align-items-start align-content-start row mx-0 px-0 app-window t-my-group-gallery">
                        <div class="m-0 block-to-slide">
                            <div class="col-12 h-of">
                                <h1 class="col-12 text-right">Галерея</h1>
                            </div>
                            <div class="col-12 row justify-content-center align-content-center align-items-center" id="t-my-group-gallery-carousel-block">
                                {{#undefine gallery.[0].gallery_img}}    
                                    <img src="{{#base64 ../gallery.[0].gallery_img}}{{/base64}}" alt="IMG" id="t-my-group-gallery-show-img">
                                {{/undefine}}
                            </div>
                            <div class="col-12 row justify-content-start">
                                <div class="col-9 row justify-content-start m-5">
                                    <div class="col-12 row justify-content-start align-items-start align-content-start t-my-group-gallery-block">
                                        <div class="row m-2">
                                            <button class="btn open-form-button open-form-button-selector col-12">+</button>
                                        </div>
                                        {{#each gallery}}
                                            <div class="m-2 stylise-block-static row justify-content-center align-content-center">
                                                <img src="{{#base64 gallery_img}}{{/base64}}" alt="IMG_{{gallery_id}}" id="IMG_{{gallery_id}}"/>
                                            </div>
                                        {{else}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{>sideform}}
                </div>
            </div>
        </div>
    </div>        
</body>
</html>