<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Содержит перекрёстную ссылку на типы мероприятий."/>
    <title>Мероприятия</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="m-0 block-to-slide">
                        <div class="col-12 row justify-content-center align-items-start align-content-start row mx-0 px-0 app-window t-my-group-events">
                            <div class="col-12 h-of">
                                <h1 class="col-12 text-right">Мероприятия</h1>   
                            </div>
                            <div class="col-12 row justify-content-center align-content-start">
                                <div class="col-10 row justify-content-center">
                                    <div class="col-12 stylise-block-static py-4 mb-4">
                                        <h2 class="col-12 text-center">Фильтрация</h2>
                                        <form class="col-12 row justify-content-center" id="t-form-filter">
                                            <div class="col-4 row align-content-center align-items-center justify-content-center">
                                                <input type="checkbox" class="form-check" id="t-form-filter-pr" checked> <label class="form-check-label" for="">Родительские собрания</label>
                                            </div>
                                            <div class="col-4 row align-content-center align-items-center justify-content-center">
                                                <input type="checkbox" class="form-check" id="t-form-filter-oe" checked> <label class="form-check-label" for="">Выездные мероприятия</label>
                                            </div>
                                            <div class="col-4 row align-content-center align-items-center justify-content-center">
                                                <input type="checkbox" class="form-check" id="t-form-filter-sut" checked> <label class="form-check-label" for="">Субботники</label>
                                            </div>
                                            <div class="col-6 row align-content-center align-items-center justify-content-center">
                                                <input type="checkbox" class="form-check" id="t-form-filter-fut" checked> <label class="form-check-label" for="">Предстоящие</label>
                                            </div>
                                            <div class="col-6 row align-content-center align-items-center justify-content-center">
                                                <input type="checkbox" class="form-check" id="t-form-filter-pas" checked> <label class="form-check-label" for="">Прошедшее</label>
                                            </div>
                                            <div class="col-6 row align-content-center align-items-center justify-content-center">
                                               <button class="btn stylise-block col-8">Применить</button>
                                            </div>
                                        </form>
                                    </div>
                                    {{#each events}}
                                    {{else}}
                                    <div class="col-12">
                                        <h2 class="text-center">Мероприятия отсутствуют</h2>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>     
                        </div>
                    </div>
                    {{>sideform}}
                </div>
            </div>
        </div>
    </div>      
</body>
</html>