<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Главная страница второго уровня приложения (куратор)."/>
    <title>Новая докладная</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-start align-content-start row m-0 p-0 app-window new-report-page">
                        <div class="col-12 h-of">
                            <h1 class=" col-12 text-right">Докладная</h1>       
                        </div>
                        <div class="col-12 row" id="new-report-block">
                            <form action="" class="col-12 row" id="report-form">
                                <div>
                                <label for="">Выберите группу</label>
                                <select id="report-form-group-select">
                                        <option value="" disabled selected></option>
                                        {{#each group_list}}
                                            <option value="{{group_id}}">{{spetiality_abbreviated}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-10">
                                    <textarea id="report-form-text"></textarea>
                                </div>
                                <div class="col-10">
                                    <button id="report-form-submit">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>