/*Standarts*/
html, body{
    height: 100%;
}
header{
    background-color: #3bb78f; 
    background-image: linear-gradient(315deg, #4d3f9b 0%, #19033d 74%);
}
h1{
    text-shadow: 5px 5px 20px rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
    text-decoration: none;
}
.text-logo{
    font-family: Harlow Solid;
    text-shadow: 1px 1px 5px blueviolet;
}
/*Computer-version*/
@media screen and (min-width:768px){
    /*Heights*/
    .h-5vh{
        height: 5vh;
    }
    .h-10vh{
        height: 10vh;
    }
    .h-15vh{
        height: 15vh;
    }
    .h-20vh{
        height: 20vh;
    }
    .h-25vh{
        height: 25vh;
    }
    .h-30vh{
        height: 30vh;
    }
    .h-35vh{
        height: 35vh;
    }
    .h-40vh{
        height: 40vh;
    }
    .h-45vh{
        height: 45vh;
    }
    .h-50vh{
        height: 50vh;
    }
    .h-55vh{
        height: 55vh;
    }
    /*Common*/
    .avatar_img{
        border-radius: 250px;
    }
    /*Header*/
    header{
        overflow-y: hidden;
        border-bottom: 5px solid rgb(28, 25, 70);
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 1px 10px rgb(35, 23, 77);
        height: 180px;
        z-index: 8;
    }
    #navbar ul{
        padding:0;
        height: auto;
        margin-bottom: -20px;
        min-height: 50px;
        width: 100%;
        text-align: center;
        vertical-align: center;
        white-space: nowrap;
        display: table;
    }
    #navbar li{
        text-decoration: none;
        list-style: none;
        display: table-cell;
    }
    #navbar a{
        display: block;
        background-color: white;
        color:  rgb(28, 25, 70);
        text-align: center;
        font-size: 10pt;
        width: 200px !important;
        margin: 10px;
        padding: 20px 10px 25px 10px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        box-shadow: -10px 0 0 rgb(146, 140, 212);
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-button{
        background-color: #bbbbbb;
        display: block;
        border-style: solid;
        height: 13px;
        width: 16px;
    }
    ::-webkit-scrollbar-track {
       box-shadow: inset 0 0 6px rgba(135, 23, 240, 0.3); 
        border-radius: 10px;
        background: rgb(56, 128, 170);
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgb(52, 27, 110);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    /*Sidebar*/
    #sidebar{
        width: 330px;
        height: 100%;
        box-shadow: 2px 0 10px rgb(20, 16, 68);
        z-index: 9;
        overflow: hidden;
        position: fixed;
    }
    #sidebar_menu{
        background-color: rgb(20, 16, 68);
        left: 0;
        right: 0;
    }
    .sidebar-user-block{
        border-bottom: 1px solid white;
    }
    #sidebar_menu .avatar_img{
        width: 200px;
        height: 200px;
        box-shadow: 2px 2px 20px rgb(20, 16, 68);
    }
    #sidebar_menu .user-text-name{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        font-size: 16pt;
        font-weight: 800;
    }
    #sidebar_menu button{
        color: white;
        border-top: white;
        border-bottom: white;
        border-radius: 0;
    }
    #sidebar_menu button:hover{
        background-color: rgb(38, 31, 114);
        transform: scale(1.2);
    }
    #sidebar_menu .logo{
        width: 250px;
        height: 250px;
    }
    .close-button{
        position: absolute;
        left: 330px;
        top: 10px;
        background-color: rgb(20, 16, 68);
        z-index: 8;
        height: 80px;
        width: 80px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid rgb(40, 23, 83);
        border-left: 2px solid white;
    }
    .close-button label{
        color: white;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        text-align: center;
        height: 100%;
        padding-left: 8px;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
    }
    /*Main*/
    .main{
        position: absolute;
        left: 345px;
        width: calc(100% - 330px);
        background: linear-gradient(#8ad2f37e, #07106ee5);
    }
    .app-window{
        overflow-y: auto;
        min-height: 75vh;
    }
    .mainfeed,.mainmygroup,.mainevents{
        border-radius: 40px;
        background-color: rgb(14, 14, 63);
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    .mainfeed:hover,.mainmygroup:hover,.mainevents:hover{
        transform: scale(1.05); 
    }
    /*c_attendance*/

}
/*Smartphone-version*/