/*St*/
html, body{
    min-height: 100vh;
    overflow-y: initial;
    overflow-x: hidden;
}
div,section{
    margin-left: 0;
    margin-right: 0;
}
h1{
    user-select: none;
    font-weight: 300;
    font-size: 42pt;
}
h2{
    font-weight: 300;
    font-size: 26pt;
    user-select: none;
}
img{
    user-select: none;
}
a{
    text-decoration: none;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:hover{
    text-decoration: none;
}
h1,h2,a,p,label,span{
    word-wrap: break-word;
}
p{
    font-size: 16pt;
}
textarea{
    resize: none;
}
th,td{
    text-align: center;
}
.app-logo{
    user-select: none;
    font-family: Harlow Solid;
}
.stylise-block{
    border-radius: 40px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.stylise-block-static{
    border-radius: 4px;
}
.stylise-block:hover{
    transform: scale(1.05); 
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
}
/*index*/
#welcome-page-body{
    background: linear-gradient(#8ad2f37e, #07106ee5) no-repeat;
}
#welcome-page-container>div{
    height: 100vh !important;
}
#welcome-page-logo-block span{
    text-shadow: 5px 5px 20px rgb(255, 255, 255);
    text-shadow: 1px 1px 5px blueviolet;
    color: white;
    font-family: Harlow Solid;
    font-size: 90pt;
}
#welcome-page-form input, #welcome-page-form button{
    height: 100px;
    font-size: 36pt;
}
#login-form label{
    font-size: 20pt;
    color: white;
}
#login-form input:last-of-type{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#login-form-submit{
    border-radius: 0 0 40px 40px !important;
    background-color: rgba(16, 12, 68, 0.514);
    color: white;
}
#login-form-submit:hover{
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    background-color: rgba(64, 57, 155, 0.801);
    color: rgba(16, 12, 68, 0.514);
}
/*Computer-version*/
@media screen and (min-width:768px){
    /*Common*/
    .block-app-logo{
        position: fixed;
        top: 5px;
        z-index: 15;
    }
    .avatar_img{
        border-radius: 250px;
        width: auto;
        height: auto;
    }
    .h-of{
        min-height: 80px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .h-of h1{
        padding-bottom: 10px;
    }
    .h-section{
        font-size: 24pt !important;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    }
    .profile-page .h-of h1,.options-page .h-of h1{
        padding-top: 10px;
    }
    /*screen*/
    .header-full-screen,.main-full-screen{
        left: 0;
        width: 100%; 
    }
    .header-n-full-screen,.main-n-full-screen{
        left: 330px;
        width: calc(100% - 330px);
    }
    .sidebar-full-screen{
        width: 0;
    }
    .sidebar-d-block{
        width: 330px;
    }
    .sidebar-close-button-full-screen{
        left: 0;
    }
    .sidebar-close-button-n-full-screen{
        left: 330px;
    }
    .block-app-logo-n-full-screen{
        left: 51%;
    }
    .block-app-logo-full-screen{
        left: 43%;
    }
    .open-form-button{
        font-size: 30pt;
    }
    /*Header*/
    #header{
        position: fixed !important;
        top: 0;
        overflow-y: hidden;
        overflow-x: initial;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 180px;
        z-index: 8;
    }
    #header nav{
        width: 100%;
    }
    #navbar ul{
        padding:0;
        height: auto;
        width: auto;
        margin-bottom: -15px;
        margin-left: 20px;
        min-height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    #navbar li{
        text-decoration: none;
        list-style: none;
        min-width: 195px;
    }
    #navbar a{
        display: block;
        text-align: center;
        font-size: 10pt;
        width: auto !important;
        margin: 10px;
        padding: 20px 10px 25px 10px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }
    /*Sidebar*/
    #sidebar{
        height: 100%;
        z-index: 9;
        overflow: hidden;
        position: fixed;
        left: 0;
    }
    #sidebar>*{
        word-wrap: none !important;
    }
    #sidebar_menu{
        left: 0;
        right: 0;
        height: 100%;
    }
    #sidebar_menu .avatar_img{
        width: 200px;
        height: 200px;
    }
    #sidebar_menu .user-text-name{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 16pt;
        font-weight: 800;
    }
    #sidebar_menu button{
        border-radius: 0;
        height: 60px;
    }
    #sidebar_menu button:hover{
        transform: scale(1.2);
    }
    #sidebar_menu .logo{
        width: 150px;
        height: 150px;
    }
    .sidebar-close-button{
        position: fixed;
        top: auto;
        z-index: 40;
        height: 80px;
        width: 40px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        top: 10px;
    }
    .sidebar-close-button label{
        text-align: center;
        padding-left: 5px;
        padding-top: 5px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: -4px;
        font-size: 16pt !important;
    }
    .sidebar-close-button:hover{
        transform: scale(1.08)
    }
    /*sideform*/
    #side-form{
        position: fixed;
        width: 0;
        right: 0;
        bottom: 0;
        height: 82%;
        z-index: 5;
        overflow: inital;
        overflow-x: hidden;
    }
    #side-form .close-sideform{
        width: 100%;
        height: 80px;
        border-radius: 0 !important;
        margin-top: -20px;
    }
    #side-form>div{
        height: 80%;
    }
    .block-to-slide{
        width: 100%;
    }
    /*app*/
    .main{
        position: absolute;
        height: auto;
        margin: 0;
    }
    .application{
        height: auto;
        min-height: 60vh;
    }
    .app-window{
        margin-top: 190px !important;
        overflow-y: initial;
        min-height: 60vh;
        background-color: #bbbbbb00;
    }
    /*profile*/
    #t-profile-img{
        width: 300px;
        height: 300px;
    }
    /*options*/
    .options-page input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;    
    }
    .options-page input[type="color"]::-webkit-color-swatch {
        border: none;  
        border-radius: 5px;
    }
    .options-page input[type=color]::-moz-focus-inner {
        border: none;
        padding: 0;
        border-radius: 5px;
    }
    .options-page input[type=color]::-moz-color-swatch {
        border: none;
        border-radius: 5px;
        height: 140px;
    }
    #theme-preview{
        height: 200px;
        opacity: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 82%;
    }
    #logo-example{
        width: 120px;
        height: 120px;
    }
    #opt-app-name>span{
        font-size: 36pt;
    }
    #options-buttons button{
        height: 80px;
        border-radius: 25px !important;
        text-align: center;
    }
    #options-buttons button:hover{
        transform: scale(1.03);
        transition: all .2s ease-in-out;
    }
    /*chat*/
    #chat-block{
        border-radius: 20px 20px 50px 50px;
    }
    #msg-block{  
        border-radius: 10px;
        height: 400px;
        overflow-y: scroll;
    }
    #chat-block div:first-of-type{  
        margin-top: 40px;
    }
    #chatform-block{
        padding: 10px;
        border-radius: 10px;
    }
    .msg p:first-child{
        border-bottom: 2px solid rgba(16, 12, 68, 0.514);
    }
    .msg p{
        font-size: 12pt !important;
    }
    /*error*/
    #error-page{
        min-height: 100vh;
    }
    #error-page>div{
        min-height: 100vh;
    }
    #error-page h1{
        text-align: center;
        text-shadow: none !important;
        font-size: 46pt;
    }
    #error-page p{
        text-align: center;
        text-shadow: none !important;
        font-size: 26pt;
    }
    #error-page button{
        height: 130px;
        border-radius: 25px !important;
    }
    #error-page button:hover{
        transform: scale(1.03);
        transition: all .2s ease-in-out;
    }
    /*teacher*/
    /*t_mainpage*/
    .t-mainpage-links{
        min-height: 65vh;
    }
    .t-mainpage-links>div{
        min-height: 200px;
    }
    .t-mainpage-links h2{
        font-weight: 500;
        font-size: 16pt;
    }
    /*t_announcements*/
    .announcement-block{
        padding-top: 20px;
        padding-bottom: 100px;
        width: 100%;
    }
    .announcement-open-form-block{
        padding: 20px 0 40px 0;
    }
    .announcement-open-form-block button{
        width: 50%;
        height: 100px;
        border-radius: 25px !important;
    }
    .announcement-block>article{
        margin-bottom: 50px;
    }
    .announcement-block>article:last-child{
        margin-bottom: 0 !important;
    }
    .announcement-header{
        border-radius: 40px;
        padding: 5px;
    }
    .announcement-info>div{
        padding: 10px 0;
    }
    .announcement-info>div:first-child{
        border-bottom-left-radius: 25px;
    }
    .announcement-info>div:last-child{
        border-bottom-right-radius: 25px;
    }
    .announcement-text{
        margin-top: 10px;
        padding: 10px 0;
        border-radius: 40px;
        min-height: 300px;
    }
    .announcement-text p{
        overflow-y: initial;
        height: 100%;
    }
    .announcement-text p::first-letter{
        margin-left: 40px;
    }
    .announcement-download{
        border-radius: 10px;
        margin-top: 5px;
        padding: 10px;
    }
    .announcement-form{
        position: fixed;
        bottom: 0;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        height: 150px;
    }
    #anouncement-form-text{
        border-radius: 10px 10px 0 0;
        height: 400px;
    }
    .announcement-form-button{
        border-radius: 0 0 10px 10px !important;
        outline: none;
        color: white;
    }
    /*t_mygroup*/
    .t-my-group .t-student-block{
        height: 160px;
    }
    .t-my-group .t-student-block:hover{
        transform: scale(1.05); 
    }
    .t-my-group .t-student-block img{
        border-radius: 150px;
        height: 120px;
        width: 120px;
    }
    #t-my-group-table{
        border: 1px solid rgba(0, 0, 0, 0.178);
    }
    /*t_student*/
    .t-student-info{
        border-radius: 20px;
    }
    .t-student-sections>div{
        min-height: 100px;
    }
    .t-student-sections h2{
        font-weight: 500;
        font-size: 22pt;
    }
    .student-profile img{
        width: 150px;
        height: 150px;
        margin-top: 10px;
    }
    .t-student-parent-block{
        margin-top: 10px;
        padding-top: 10px;
    }
    .t-student-parent-block:last-of-type{
        margin-bottom: 50px;
    }
    /*t_student_achievements*/
    .t-st-achevements-open-form-block{
        height: 350px;
        border-radius: 40px !important;
    }
    .t-achevements-block{
        display: flex;
        flex: row wrap;
    }
    .t-achevements-block>div>div{
        width: 250px;
    }
    .achievement-object img{
        width: 200px;
        height: 300px;
        border-radius: 4px;
    }
    #t-achievements-form-img-block{
        height: 500px !important;
        padding: 5px;
        border-radius: 20px 20px 0 0;
        background-color: blueviolet;
        overflow-x: hidden;
    }
    #t-achievements-form-img-block>img{
        height: 480px;
        width: 70%;
        border-radius: 10px;
    }
    .t-achievements-form-button{
        border-radius: 0 0 10px 10px !important;
        outline: none;
        color: white;
    }
    /*t_st_absenteeismes*/
    .t-st-absentismeses-form label{
        font-size: 12pt !important;
    }
    /*t_mygroupgallery*/
    .t-my-group-gallery-block{
        display: flex;
        flex: row wrap;
        justify-content: flex-start;
    }
    #t-my-group-gallery-carousel-block{
        height: 400px;
    }
    #t-my-group-gallery-carousel-block #t-my-group-gallery-show-img{
        max-height: 400px !important;
        max-width: 600px !important;
        background-size: contain;
        padding: 10px;
    }
    .t-my-group-gallery-block>div,.t-my-group-gallery-block img{
        height: 80px !important;
        width: 80px;
        overflow: hidden;
        cursor: pointer;
    }
    .t-my-group-gallery-block>div:hover{
        transform: scale(1.1);
    }
    .t-my-group-gallery-block img{
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    .t-my-group-gallery-block button{
        height: 100%;
        width: 100%;
    }
    /*t_attendance*/
    .fixed-attendance-block{
        z-index: 0 !important;
        position: fixed;
        height: 600px;
    }
    #t-my-group-na-link,#t-my-group-re-link{
        height: 200px;
    }
    /*t-new-attendance*/
    .t-na-st-block{
        height: 50px;
    }
    .t-na-st-block img{
        height: 80px;
    }
    #t-new-attendance-form-button{
        height: 100px;
    }
    /*t-absensemes*/
    .t-abs-student-block{
        height: 160px;
    }
    .t-abs-student-block:hover{
        transform: scale(1.05); 
    }
    .t-abs-student-block img{
        border-radius: 150px;
        height: 120px;
        width: 120px;
    }
    /*t-events*/
    #t-event-form-textarea{
        height: 350px;
    }
    .t-event-form-button{
        border-radius: 0 0 10px 10px !important;
        outline: none;
    }
    #t-event-img-block>img{
        max-width: 80%;
        max-height: 300px;
        background-size: contain;
    }
    /*t_reporst*/
    .fixed-reports-block{
        z-index: 0 !important;
        position: fixed;
        height: 600px;
    }
    #t-my-group-reports-link{
        height: 200px;
    }
    /*t_report_info*/
    #report-info-table{
        border-collapse: collapse;
        margin: 0 50px;
        padding: 100px;
    }
    #report-info-table td{
        border: 1px solid black;
        padding: 20px;
    }
    #report-info-table tr:first-of-type th{
        border: 1px solid black;
        padding: 20px;
    }
    #report-info-table th:last-of-type{
        margin-right: 100px;
    }
}
/*Tablet (several tags)*/
@media screen and (max-width:1200px){
    /*t_announcements*/
    .announcement-info{
        margin-right: 1px;
    }
    .announcement-info>div{
        padding: 20px 0;
        margin-top: 10px;
        border-radius: 25px !important;
    }
}
/*Smartphone-version*/