<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Содержит форму отправки для ."/>
    <title>Посещаемость</title>
    {{>linkscripts}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main">
                <div class="row justify-content-center col-12 mx-0 px-0">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-center align-content-start row mx-0 px-0 app-window c-attendance">
                        <div class="col-12 pb-2">
                            <h1 class="display-4 text-right col-12">Посещаемость</h1>
                            <hr>
                        </div>
                        <div class="col-12 justify-content-center">
                            <form class="col-12 row ml-1">
                                {{#each studentList}}
                                    <div class="col-2 h-25vh bg-primary rounded">
                                        <img src="{{#imgnotnull student_photo student_sex}}{{/imgnotnull}}" alt="">
                                        <span>{{student_sur_name}} {{student_name}}</span>
                                        <select name="statement" class="col-12 text-center">
                                            <option value=""></option>
                                            <option value="Н">Н</option>
                                            <option value="З">З</option>
                                        </select>
                                    </div>
                                {{/each}}
                                <button class="btn btn-primary col-12">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>