<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Содержит список объявлений, создаваемых куратором или старостой группы."/>
    <title>Лента</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main">
                <div class="row justify-content-center col-12 mx-0 px-0">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-center align-content-start row mx-0 px-0 app-window c-feed-page">
                        <div class="col-12 h-10vh">
                            <h1 class="display-4 col-12 text-right">Лента</h1>
                            <hr>
                        </div>
                        <div class="col-12 h-50vh row justify-content-center align-content-start align-items-start pt-5">
                            {{#each posts}}
                                    <div class="col-10 bg-light h-30vh">{{feed_id}}{{#datenormalise feed_data}}{{/datenormalise}}

                                    </div>
                            {{else}}
                                <h2 class="display-4 h-40vh pt-5">Лента пуста!</h2>
                            {{/each}}
                        </div>
                        <div class="col-12 row justify-content-center align-items-center position-fixed h-30vh align-self-end">
                            <div class="col-12 h-15vh row justify-content-center">
                                <form class="row col-12 justify-content-center">
                                    <input type="text" name="" id="" class="col-3 form-control m-1" placeholder="Заголовок...">
                                    <select type="text" class="col-3 form-control m-1" placeholder="Тема">
                                        <option value="" hidden>Тема...</option>
                                    {{#each feed_type}}
                                        <option value="{{feed_type_id}}">{{feed_type_name}}</option>
                                    {{/each}}
                                    </select>
                                    <input type="file" placeholder="" class="col-3 form-control-file m-1 text-light">
                                    <textarea name="" id="" class="col-8 m-2"></textarea>
                                    <button class="col-1 m-2 rounded btn btn-danger">+</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>