<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Страница для обработки ошибки 404 на втором уровне приложения (куратор)."/>
    <title>Ошибка 404</title>
    {{>linkscripts}}
</head>
<body>
    
</body>
</html>