<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kostin Vladislav">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    {{>linkscripts}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main">
                <div class="row justify-content-center col-12">
                    <div class="col-3 mx-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur rerum quis repellendus ratione at reprehenderit vitae commodi doloremque, magnam neque fugit quas praesentium, eos perferendis amet. Nihil, dicta et.</p>
                    </div>
                    <div class="col-3 mx-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti totam harum cumque aliquam est voluptates quis ratione sit! Rem iure nulla est dolor consequatur obcaecati magni asperiores quae pariatur labore.</p>
                    </div>
                    <div class="col-3 mx-1">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit ad, laboriosam eveniet hic maiores assumenda ab repellendus quae vel, maxime autem qui odit perspiciatis corrupti, in eos porro similique neque?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>