<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Страница настроек приложения."/>
    <title>Настройки</title>
    {{>linkscripts}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main">
                <div class="row justify-content-center align-content-start col-12 mx-0 px-0 application">
                    <div class="col-12 h-of">
                        <h1 class="display-4 col-12 text-right">Настройки</h1>
                    </div>
                    <div class="col-12 pt-5">
                        <section class="col-12 row justify-content-center" id="text-options-section">
                            <div class="col-12">
                                <h2 class="text-center display-4">Текст</h2>
                            </div>
                            <div class="col-5 row justify-content-center" id="text-options">
                                <div class="col-xl-6 col-10">
                                    <label for="">Размер текста</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-xl-6 col-10">
                                    <label for="">Размер текста</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-xl-6 col-10">
                                    <label for="">Размер текста</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-xl-6 col-10">
                                    <label for="">Размер текста</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </section>
                        <section class="col-12" id="bg-options-section">
                            <div class="col-12">
                                <h2 class="text-center display-4">Фоновое изображение</h2>
                            </div>
                            <div class="col-12 row" id="bg-options">
                                <div class="col-xl-6 col-10">
                                    
                                </div>
                                <div class="col-xl-6 col-10">

                                </div>
                            </div>
                        </section>
                        <section class="col-12">
                            <div class="col-12">
                                <h2 class="text-center display-4">Колоризация</h2>
                            </div>
                            <div class="col-12 row">

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>