<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Страница для обработки ошибки доступа."/>
    <title>{{title}}</title>
    {{>linkscripts}}
</head>
<body>
    <div class="container-fluid" id="error-404">
        <div class="col-12 h-100 row align-content-center justify-content-center">
            <div class="col-10">
                <h1>Ошибка 401</h1>
                <p>Похоже, что у Вас отсвутствуют права доступа к данной странице.</p>
                <button id="error-back">Вурнуться на предыдщую страницу</button>
                <button id="error-back-main">Вурнуться на главную страницу</button>
            </div>
        </div>
    </div>
</body>
</html>