<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Страница для обработки ошибки 505 (непредвиденных исключений) на первом уровне приложения."/>
    <title>Ошибка 505</title>
    {{>linkscripts}}
</head>
<body>
    <div class="container-fluid" id="error-404">
        <div class="col-12 h-100 row align-content-center justify-content-center">
            <div class="col-10">
                <h1>Ошибка 404</h1>
                <p>Ой! Похоже, что произошла непредвиденная ошибка, либо Вы попытались перейти на страницу, которая Вам не доступна.</p>
                <button id="error404-back-main">Вернуться на предыдущую страницу</button><button id="error404-back-main">Вернуться на главную страницу</button>
            </div>
        </div>
    </div>
</body>
</html>