<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Главная страница веб-приложения."/>
    <title>Добро пожаловать!</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body id="welcome-page-body">
    <div class="container-fluid h-100 m-0 p-0" id="welcome-page-container">
        <div class="col-12 row justify-content-center align-content-center align-items-center m-0 p-0" id="welcome-page">
            <div id="welcome-page-logo-block">
                <span>WebCollege</span>
            </div>
            <div class="col-12 row mx-0 px-0 justify-content-center align-content-center" id="welcome-page-form">
                <form class="col-6" id="login-form">
                    <label for="login" class="text-center">Логин</label>
                    <input type="text" class="form-control" id="user-login">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="user-password">
                    <button class="btn col-12" id="login-form-submit">Войти</button>
                </form>
            </div>
        </div>
    </div>  
</body>
</html>