
/*St*/
header{
    background-image: linear-gradient(315deg, #92663c 0%, #3a0434 74%);
}
h1{
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.377);
}
a{
    color: white;
}
.app-logo{
    text-shadow: 5px 5px 20px rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(226, 43, 205);
    color: white;
}
.stylise-block,.stylise-block-static{
    background-color: #ffffff44;
    box-shadow: -10px 2px 10px #903f9b;
}
.stylise-block-static a{
    box-shadow: 0px 0px 0px white !important;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(135, 23, 240, 0.3); 
    background: rgb(159, 170, 56);
}
 ::-webkit-scrollbar-thumb{
    background: rgb(103, 27, 110);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
}
.application{
    background:#ca22bc7e;
}
/*Computer-version*/
/*Common*/
.h-of h1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
/*Header*/
header{
    border-bottom: 5px solid rgb(63, 25, 70);
    box-shadow: 0px 1px 10px rgb(77, 23, 71);
}
#navbar a{
    background-color: white;
    color:  rgb(68, 25, 70);
    box-shadow: -10px 0 0 rgb(190, 212, 140);
}
/*Sidebar*/
#sidebar{
    box-shadow: 2px 0 10px rgb(68, 16, 68);
}
#sidebar_menu{
    background-color: rgb(68, 16, 66);
}
.sidebar-user-block{
    border-bottom: 1px solid white;
}
#sidebar_menu .avatar_img{
    box-shadow: 2px 2px 20px rgb(68, 16, 66);
}
#sidebar_menu .user-text-name:hover{
    color: #a3c57b !important;
}
#sidebar_menu button{
    color: white;
    border-top: white;
    border-bottom: white;
}
#sidebar_menu button:hover{
    background-color: rgb(114, 31, 114);
}
.sidebar-close-button{
    background-color: rgb(83, 23, 66);
    border: 1px solid rgb(78, 23, 83);
    border-left: 2px solid white;
}
.sidebar-close-button label{
    color: white !important;
}
/*Sideform*/
#side-form{
    background-color: rgba(78, 29, 74, 0.836);
    box-shadow: -2px 0 10px rgb(68, 16, 68);
}
#side-form h3{
    color: white;
    border-bottom: 1px solid white;
}
.close-sideform{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
}
/*main*/
.app-window{
    background-color: #bbbbbb00;
}
/*options*/
.options-page h2{
    border-bottom: #41093a1f 1px solid;
}
#theme-preview{
    border: #41093a 2px solid;
    box-shadow: 1px 1px 2px #3e2ca5;
}
#options-buttons{
    border-top: #e5f77167 1px solid;
}
#options-buttons button{
    background-color: #b64da18f;
    color: white;
}
/*error*/
#error-page{
    background-color: #41091a;
}
#error-page h1{
    color: white;
}
#error-page p{
    color: white;
}
#error-page button{
    background-color: #702d978c;
    color: white;
}
    /*chat*/
    #chat-block{
    background-color: rgba(87, 42, 79, 0.904);
}
#msg-block{
    background-color: rgb(217, 216, 252);
}
#chatform-block{
    background-color: rgb(216, 216, 252);
}
.chatsubmbutton{
    border: 1px solid rgba(68, 12, 36, 0.514);
}
.chatsubmbutton:hover{
    background-color: rgba(68, 12, 35, 0.514);
}
/*announcements*/
.open-form-button{
    border: dashed 3px #9e3d7262;
    color: #4c3d9e62;
}
.open-form-button-selector:hover{
    border: dashed 3px #9e3d86 !important;
}
.t-announcement-header,.s-announcement-header{
    background-color: #ffffff44;
    box-shadow: 0px 0px 10px #9b903f;
}
.t-announcement-info>div,.t-announcement-text,.s-announcement-info>div,.s-announcement-text{
    box-shadow: rgba(113, 126, 67, 0.61) 0 0 20px;
    background-color: #ffffff44;
}
.t-announcement-download,.s-announcement-download{
    box-shadow: rgba(120, 126, 67, 0.61) 0 0 20px;
    background-color: #ffffff44;
}
.t-announcement-download:hover,.s-announcement-download:hover{
    color: white !important;
}
.t-announcement-form{
    background-color: rgba(68, 16, 51, 0.514);
    box-shadow: #7a155870 -2px -2px 50px;
}
.t-announcement-form-button{
    background-color: rgba(68, 12, 59, 0.514);
    color: white;
}
/*mygroup*/
#t-my-group-fast-form-button,#h-group-fast-form-button{
    background-color: rgba(89, 17, 68, 0.514);
    color: white;
}
#t-my-group-fast-form-button:hover,#h-group-fast-form-button:hover{
    background-color: rgba(104, 29, 79, 0.514);
    color: rgba(68, 12, 38, 0.514);
}
/*student*/
.t-student-info{
    box-shadow: #410931 2px 2px 10px;
}
.t-student-parent-block{
    border-top: 1px solid rgba(0, 0, 0, 0.493);
}
/*achievements*/
#t-achievements-form-img-block,#s-achievements-form-img-block{
    background-color: #413f0970;
}
#t-achievements-form-file,#s-achievements-form-file{
    color: white;
}
.t-achievements-form-button,.s-achievements-form-button{
    background-color: rgba(68, 12, 52, 0.514);
    color: white;
}
/*event*/
#t-event-form label{
    color:white !important;
}
.t-event-form-button{
    background-color: rgba(153, 34, 113, 0.514) !important;
    color: white;
}
.t-event-form-button{
    color: white;
}
/*iw*/
#t-iw-form label,#t-st-iw-form label{
    color:white !important;
}
.t-iw-form-button,.t-st-iw-form-button{
    background-color: rgba(226, 205, 138, 0.514);
    color: white;
}
.t-iw-form-button:hover,.t-st-iw-form-button:hover{
    background-color: rgba(68, 12, 49, 0.514);
    color: white;
}
/*report_info*/
#report-info-table td{
    border: 1px solid black;
}
#report-info-table tr:first-of-type th{
    border: 1px solid black;
}
/*gallery*/
#t-gallery-form-file,#s-gallery-form-file{
    color: white;
}
#t-gallery-form-button,#s-gallery-form-button{
    background-color: rgba(144, 138, 226, 0.514);
    color: white;
}
#t-gallery-form-button:hover,#s-gallery-form-button:hover{
    background-color: rgba(16, 12, 68, 0.514);
    color: white;
}
.t-announcement-info>div{
    box-shadow: rgba(120, 126, 67, 0.61) 0 0 20px;
    background-color: #ffffff44;
}
.s-announcement-info>div{
    box-shadow: rgba(126, 117, 67, 0.61) 0 0 20px;
    background-color: #ffffff44;
}